@using Abp.Configuration.Startup
@using Abp.MultiTenancy;
@using Abp.Web.Security.AntiForgery
@using Prosperium.Management
@using Prosperium.Management.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject ILanguageManager LanguageManager
@inject IMultiTenancyConfig MultiTenancyConfig
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "Prosperium";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="row" style="height: 100vh;">
            <div class="col-md-6" style="background:#FF8C00; padding: 20px;">
                <div class="row" style="display: flex;justify-content: center;flex-direction: column;align-content: center;align-items: center;">
                    <img src="~/img/pxp-logo-login.png" style="padding: 10px 0;" width="400vh" />
                    <label style="color: #fff; font-weight: bold; font-size: 15px; margin-left: -40px;">Unindo bancos, simplificando seu mundo financeiro.</label>

                    <div class="row">
                        <img src="~/img/login-vetor.png" style="padding: 10px;" width="480vh" />
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color: #fff; position: relative;">
                <div class="form-container" id="Login">
                    @if (MultiTenancyConfig.IsEnabled)
                    {
                        <div class="card-header">
                            <vc:tenant-change></vc:tenant-change>
                        </div>
                    }
                    <div class="card-body-card-body" style="padding: 50px;">
                        <form id="LoginForm" method="post" action="/Account/Login">
                            <input type="hidden" name="returnUrl" value="/">
                            <input type="hidden" name="returnUrlHash">

                            <div class="row">
                                <div class="col-12">
                                    <div class="campo-login">
                                        <label id="labelLogin" for="login">E-mail *</label>
                                        <input type="text" id="login" name="usernameOrEmailAddress" placeholder="Digite seu email" required="" autofocus="" maxlength="256" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display: flex; align-items: flex-end;">
                                <div class="col-11">
                                    <div class="campo-password">
                                        <label id="labelPassword" for="password">Senha *</label>
                                        <div class="input-group">
                                            <input type="password" id="password" name="Password" placeholder="Digite sua senha" required="" autofocus="" maxlength="30" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="togglePassword">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="display: flex; align-items: center; justify-content: center; align-content: center; margin-top: 30px;">
   @*                              <div class="col-4">
                                    <div class="checkbox-container">
                                        <input type="checkbox" id="RememberMe" name="RememberMe" value="false" class="checkbox-input">
                                        <label for="RememberMe" class="checkbox-custom">
                                            <span class="check-icon">&#10003;</span>
                                        </label>
                                        <span class="checkbox-label">Lembre de mim</span>
                                    </div>
                                </div> *@
                                <div class="col-12">
                                    <button type="submit" id="LoginButton" class="btn btn-primary btn-block btn-flat">Entrar</button>

                                </div>
                            </div>

                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EvOlh8WUjtBkbQw7N2fE9lM7DBjYqsq3lgDq_yYMA8XMpTBbElFvKQMVaE_PRWp1HTPUvyOBiZFq-9jxuExAX2kosmWU-1MebiEOAYLCoWd4qstS_EQqeq75Pmr4CbOGjB_0jpHdJDZJ6-Igy70y9s">
                        </form>
                        <div class="row" style="bottom: 0; width: 100%; color: #999; font-size:13px; padding: 10px; text-align: center;">
                            <div class="col-md-12 text-center">
                                <small>&copy; @DateTime.Now.Year Prosperium. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
    @WebResourceManager.RenderScripts()
</body>
</html>

<style>
    .input-group-text {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: orange;
        text-align: center;
        white-space: nowrap;
        background: transparent;
        border: none;

        border-radius: 0.25rem
    }

    .login-box, .register-box {
        width: 100%;
        overflow: hidden;
    }

    .save-button,
    #LoginButton {
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, color 0.3s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF8C00;
        color: white;
        font-weight: bold;
    }

    button:hover {
        filter: brightness(90%);
    }

    .campo-login,
    .campo-user,
    .campo-password {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #labelUser,
    #labelLogin,
    #labelPassword {
        margin-bottom: 10px;
        color: #333;
        display: block;
        font-size: 14px;
        text-align: left;
        width: 100%;
    }

    #TenancyName,
    #login,
    #password {
        border: none;
        background: transparent;
        font-size: 18px;
        color: #333;
        outline: none;
        border-bottom: 1px solid #ccc;
        transition: border-color 0.3s;
        text-align: left;
        width: 100%;
    }

        #TenancyName:focus,
        #login:focus,
        #password:focus {
            border-color: #aaa;
        }

        #TenancyName::placeholder,
        #login::placeholder,
        #password::placeholder {
            font-size: 16px;
            color: #aaa;
            padding: 10px;
        }



    .checkbox-container {
        display: flex;
        align-items: flex-start;
    }

    .checkbox-input {
        display: none;
    }

    .checkbox-custom {
        width: 20px;
        height: 20px;
        border: 2px solid #ff8c00;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .checkbox-label {
        margin-left: 8px;
        color: #495057;
        font-size: 14px;
    }

    .checkbox-input:checked + .checkbox-custom {
        background-color: #ff8c00;
        border-color: #ff8c00;
    }

    .check-icon {
        color: #fff;
    }

</style>
<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        var passwordInput = document.getElementById("password");
        var toggleIcon = document.getElementById("togglePassword").querySelector("i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    });
</script>