@using Prosperium.Management.Web.Models.Transactions
@model SelectCreditCardModalViewModel
@{
    Layout = null;
}

<!-- Estilo da Modal -->
<style>
    .modal-content {
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .modal-body {
        padding: 1.5rem;
    }

    .arrow-right {
        float: right;
        color: #FF8C00;
        margin-top: 8px;
    }

        .arrow-right svg {
            vertical-align: middle;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    .card-modal {
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
    }

        .card-modal:hover {
            transform: scale(1.05);
        }

        .card-modal .card-content {
            display: flex;
            align-items: center;
        }

        .card-modal .icon {
            margin-right: 15px;
            color: #FF8C00;
        }

        .card-modal .card-body {
            text-align: center;
        }

        .card-modal .card-title {
            color: #FF8C00;
            font-size: 15px;
            font-weight: bold;
        }

        .card-modal .card-description {
            color: #555;
            font-size: 16px;
            margin-top: 10px;
        }

        .card-modal .arrow-icon {
            color: #FF8C00;
            font-size: 24px;
        }


    .custom-button {
        background-color: #FF8C00;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

        .custom-button:hover {
            transform: scale(1.05);
        }

    a:hover {
        color: #fff;
    }

    hr.divider {
        width: 100%;
        margin: 10px 0;
        border: 1px solid rgba(204, 204, 204, 0.5);
    }
</style>

<form name="SelectCardModal" role="form" class="form-horizontal">
    <div class="modal-body">
        <div role="tabpanel" class="tab-pane cartaoiner" id="select-card">
            @foreach (var item in Model.Cards)
            {
                @if (item.IsActive)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-modal" data-cartao-id="@item.Id" data-cartao-icon="@item.FlagCard.IconPath" data-card-numero="@item.CardNumber" data-vencimento="@item.DueDayInput" data-banco-name="@item.Account.Bank.Name" style="cursor: pointer;">
                                <div class="card-body d-flex align-items-center">
                                    <div class="col-1 d-flex align-items-center">
                                        <img src="~/img/flags/@item.FlagCard.IconPath" style="border-radius: 10px;" width="50" />
                                    </div>
                                    <div class="col-10 d-flex align-items-center" style="display: flex; align-items: center; justify-content: space-between;">
                                        <h3 class="card-title" style="color: #000; font-weight: bold; margin-left: 10px;">@item.CardName</h3>
                                        <div style="margin-left: 10px; font-size: 12px; color: #999;">
                                            <p style="margin: 0;">@item.CardNumber</p>
                                        </div>
                                    </div>
                                    <div class="col-1 d-flex align-items-center">
                                        <div class="ml-auto arrow-right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #FF8C00;" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path d="M11.354 8.354a.5.5 0 0 0 0-.708L9.172 5.464a.5.5 0 1 1 .707-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 1 1-.707-.708L11.354 8.354z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else if(!Model.Cards.Any(x => x.IsActive == true))
                {
                    <div class="row" style="display: flex;justify-content: center;">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-10">
                                <div class="card shadow p-4 rounded text-center" style="height: 100%; border: 0.5px solid #FF8C00">
                                    <h3 style="font-size: 20px; font-weight: bold;">Parece que você ainda não tem nenhuma cartão ativo. &#128577;</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <hr class="divider">
        <div class="row" style="display: flex; justify-content: flex-end;  padding: 10px 0;">
            <a href="@Url.Action("CreateCard", "CreditCard")" class="custom-button">
                <i class="fa fa-plus"></i> &nbsp; Adicionar Novo Cartao
            </a>
        </div>
    </div>
    </div>
</form>