@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using Prosperium.Management.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject ILanguageManager LanguageManager
@{
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "Prosperium";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper" style="overflow-x: hidden;">
        @await Html.PartialAsync("_Header.cshtml")
        @await Html.PartialAsync("_PxpNavigation.cshtml")
        <div class="content-wrapper">
            @await Html.PartialAsync("_Alerts.cshtml")
            @RenderBody()
        </div>
        @await Html.PartialAsync("_Footer.cshtml")
    </div>

    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
    @WebResourceManager.RenderScripts()
</body>
</html>

<style>
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        margin-left: 0 !important;
    }

    .form-container{
        margin-top: -0.1px;  
        box-shadow: 2px 2px 5px rgba(255, 165, 0, 0.2), -2px -2px 5px rgba(255, 165, 0, 0.2);
        width: 100%;
        overflow-x: hidden;
    }


    .nav-tabs {
        border: none;
    }
    </style>